*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-sans-serif;;

}

body{
    margin:0;
    padding:0;
}
//* PRESENTACION OBSTETRICIA *//
.h1obs{
    padding: 20px 15px 20px 15px;
    font-size: 26px;
    color:rgb(29, 105, 124);
    text-align: center;   
}
.h2obs{
    text-align: center;
    font-size: 20px;
}
.h3obs{
    text-align: center;
}
.textoo{
    text-align:justify;
    font-size: 15px;
    padding: 10px 10px 0px 10px;
    margin: 10px;
}
.servobs{
    margin-left:10px;
    padding: 10px 10px 10px 10px;

}
.ipresentacion{

    width: 40%;
    height: 40%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px ;
    padding-bottom: 10px;
    border-radius: 100px;

}
.doctorxs{
    display: flex ;
    padding: 10px;
    margin: 10px;
}
.nombrep{
    font-size: 18px;
    color:rgb(29, 105, 124);
}

.logo{
    width: 5%;
}

.obsprincipal{
    padding: 10px 0px 5px 0px;
    width: 100%;
    height: 100%;
}
h1{
    padding: 30px;
   text-align: center;

}
h2{
    padding: 20px

}
p{
    font-size:150%;
    line-height: 30px;
}
.psicologo img{
    display: flex;
    width: 100%;
    height: 110%;
    align-items: center;
}

.medic p{
    margin-left: 30px;
    padding: 0px;
    text-align: justify;
}
/* PEDIATRIA HEADER*/
#header {
    margin: auto;
    width: 460px;
}

header{
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
header section .logo-p {
    width: 50px;
    padding-top: 30px;

}

/* INICIO PREDIATRIA*/
h1 {
    text-align: center;
    padding: 15px;
}
h2 {
    text-align: center;
    padding: 15px;
    font-size: medium;
}

.doc{
    padding: 10px;
    width: 230px;
    height: 150px;
}
.contenedor{
    width: 90%;
    line-height: 1.5;
    margin: 10px auto;
    text-align: center;  
    font-style: oblique;
}
.servicio {
    line-height: 1.5;
    margin: 10px auto;
    text-align: center;
}

.card {
    width: auto;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.card_perfil {
    width: 320px;
}
.card img {
    width: 225px ;
    height: 170px;
    border-radius: 50px;
}
.card_nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/*------ pie de pagina--------*/


/* OYT MENU */
.oyt-menu {
    width: 100%;
    height: 70px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(12 11 10);
    color: white;
    padding: 5px 10px 5px 10px ;
}
.oyt-logo-clinica {
    padding: 5px;
    width: 20%;
}
.oyt-menu li a {
    color: white;
}
.oyt-menu-lista-principal {
    display: flex;
    align-items: center;
}
.oyt-menu-lista-principal li {
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.oyt-menu-lista-principal li:hover {
    background-color: rgb(70, 67, 67);
}
.oyt-menu-servicios {
    position: relative;
}
.oyt-menu-lista-servicios {
    display: none;
    position: absolute;
    padding: 5px;
    font-size: 11px;
}
.oyt-menu-lista-servicios li {
    width: 190px;
    transform: translate(-20px);
    background-color: rgb(12 11 10);
    text-align: center;
}
.oyt-menu-lista-servicios li:hover {
    background-color: rgb(70, 67, 67);
}
.oyt-menu-servicios:hover .oyt-menu-lista-servicios {
    display: block;
}
/*header ob e index*/


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252a;
    padding-left: 2vw;
}

.cont-ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    cursor: pointer;
    background-color:#222;
    padding: 1.5vw;
    transition:  all .3s ease 0s;
}

li:hover {
    background-color:rgb(6, 107, 151);
}

.develop {
    position: relative;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
}

.ul-second > li {
    width: 190px;
    transform: translateX(-20px);
    border-bottom:solid 1px #fff ;
    text-align: center;
    background-color: #24252a;
}

.ul-second > li:hover {
    background-color: #7dc3c6;
}

.develop:hover > .ul-second {
    display: block;
}

.ul-third {
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top: 40%;
    display: none;
    background-color: #24252a;
}

.ul-third > li {
    padding: 1.5vw;
    border-bottom: solid 1px #fff;
}

.front:hover > .ul-third {
    display: block;
}

.nav-menu ul{
    display: flex;
    align-items: center;

}
.nav-menu li{
    margin-right: 2rem;
}
.nav-menu a{
    color: #fff;
}
.nav-menu li:last-child{
    background:#f8f9ff;
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.nav > li {
    float: left;
}
.nav-menu li ul {
display:none
position absolute;
min-width: 140px;
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}
/* OYT MAIN */
#oyt-main {
    padding: 20px 0px 20px 0px;
}
/* OYT INTRODUCCION*/
#oyt-titulo {
    padding: 20px 15px 20px 15px;
    font-size: 26px;
    color:rgb(29, 105, 124);
    text-align: center;   
}
#oyt-imagen-principal {
    padding: 5px 0px 5px 0px;
    width: 100%;
    height: 200px;
}
#oyt-introducción {
    padding: 20px 10px 20px 10px;
    font-size: 15px;
    text-align: center;  
}

/* OYT SUBESPECIALIDADES */
.oyt-subtitulos {
    padding: 10px;
    font-size: 22px;
    text-align: center;
}

#oyt-subespecialidades-lista {
    padding: 10px 40px 20px 40px;
    font-size: 15px;
}

/* OYT CUERPO MEDICO */
#oyt-profesionales {
    padding: 10px 40px 20px 40px;
}
.oyt-profesionales-estructura {
    padding: 10px;
    margin: 10px;
    display: flex;
}
.oyt-profesionales-fotos {
    width: 40%;
    padding-right: 10px;
    border-radius: 150px;
}
.oyt-profesionales-nombres {
    font-size: 15px;
}
.oyt-profesionales-especialidad {
    font-size: 12px;
}
 
/* OYT TURNOS */
 #oyt-turnos {
    padding: 0px 5px 20px 5px;
    border: solid 15px rgb(29, 105, 124);
    margin: 0px 0px 60px 0px;
    font-size: 12px;
    display: grid;
    grid-template-areas: 
    "TurnosTitulo TurnosTitulo TurnosTitulo"
    "TurnosImagen TurnosContenido TurnosContenido"
    "TurnosImagen TurnosContenido TurnosContenido";
    grid-template-columns: repeat(3, 1fr);
}
#oyt-turnos-titulo {
    grid-area: TurnosTitulo;
}
#oyt-turnos-imagen {
    width: 65%;
    padding: 0px 0px 5px 10px;
    grid-area: TurnosImagen;
}
#oyt-turnos-contenido {
    grid-area: TurnosContenido;
}
#oyt-turnos-contenido a {
    color: black;
    cursor: pointer;
}
#oyt-turnos-contenido i {
    padding-right: 5px;
}

 /* OB MAIN */
.medic{
    display: flex;
    padding-right: 50px;

}
.text{
    text-align: right;
    align-self: center;

}
.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.presentacion{
    width: 100%;
    margin:20px;
    border-radius: 6px;
}

.presentacion img{
    position: relative;
    display: inline-block;
    height: 250px;
    padding: 30px;
    border-radius: 50px;
    border: groove;

}
.medicpsiq img {
    position: relative;
    display:flex;
    margin-right: 20%;
    border-radius: 250%;
}
.ubicacion{
    padding-right:0%;
}

.secciones{
    display:flex;
justify-content: space-between;
padding: 20px 15px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: #000000;
    color: #001b58;
    padding: 20px 15px;
    font-size: 0.9rem;
    align-self: flex-end;
}

.f-logo {
        width: 90%;
        display: flex;
        align-self:auto;
        align-items: center;
        margin-bottom: 15px;
    }

    .f-logo img {
        width: 60px;
    }

    .f-logo div {
        display: flex;
        flex-direction: column;
        color:#dfd8d8;
    }

    .f-info ul {
        padding-left: 8px;
        margin-top: 30px;
    }

    .f-info ul a {
        color: #dfd8d8;
    }

    .f-info ul a li i {
        margin-right: 10px;
    }
    .f-social ul {
        display: flex;
    }

    .f-social ul a {
        margin-right: 10px;
    }

.iconos{
display: flex;
justify-content: center;
flex-wrap: nowrap;
}

main{
    text-align: center;
}
/*main index*/

main .banner-home {
    background-image: url(/Assets/banner-salud2.jpg);
    background-position: center;
    background-size: cover;
    height: 270px;
    position: relative;
}

main .banner-home h1, span, button {
    position: absolute;
    left: 20px;
}

main .banner-home h1 {
    bottom: 120px;
    font-size: 2.5rem;
    display: flex;
    align-items: flex-start;
    color: #0d3b3cf2;
    text-shadow: 2px 1px 2px #1e3f3fbf;
}

main .banner-home .banner-icon {
    margin-left: 20px;
}

main .banner-home span {
    bottom: 100px;
    font-size: 1.5rem;
    color: #0d3b3cf2;
    text-shadow: 1px 1px 1px #1e3f3fbf;;
}

main .banner-home button {
    bottom: 40px;
    border-radius: 25px;
    border: none;
    background-color: #011d1df2;
    color: white;
    padding: 12px 30px;
}

main .banner-home button:hover {
box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 65%);
}

/* --- ABOUT US --- */

h2 {
    font-size: 1.8rem;
    text-align: center;
    color: #0d3b3cf2;
    text-shadow: 0px 1px 2px #1e3f3fbf;
}

.about-us {
    background-color: #a4e3e36b;
}

.bottom-wave img {
    background-color: #a4e3e36b;
}

.wave {
    width: 100%;
}

.wave-top {
    height: 110px;
}

.about-us, .about-us-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-card {
    width: 95%;
    text-align: center;
    margin-bottom: 10px;
}

.about-us-box-img {
    width: 90vw;
}

.about-us-box-img--right img {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.about-us-card--reverse .about-us-box-img img {
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.about-us-box-img img {
    width: 100%;
    max-width: 550px;
    box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.75);
}

/* --- OUR SERVICES --- */
.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.services-container h2 {
    margin-bottom: 50px;
}

.services-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.services-container div .services-info {
    text-align: justify;
    margin-bottom: 30px;
}

.service-text-color {
    margin-bottom: 15px;
}

.services-container div .services-info .service-text-color {
    color: #0d3b3cf2;
    text-shadow: 0px 1px 1px #1e3f3fbf;
}

.services-container div .services-info .service-icon {
    font-size: 1.8rem;
}

.services-container div .services-info .service-name {
    font-weight: bold;
}

/* --- OUR PROFESSIONALS --- */

.professionals-container {
    display: flex;
    flex-direction: column;
}

.professionals-container h2 {
    margin: 50px; 
}

.professionals-container .profesionals {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profesionals .profesionals-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.profesionals-card .profesionals-card--social {
    display: flex;
}

.profesionals-card .profesionals-card--social i {
    margin-right: 5px;
}

#cardiology-md, #psychiatry-md, #radiology-md, #dentist-md, .profesionals-card--social i {
    color: #4f4a4a;
}

.profesionals .profesionals-card p {
    font-weight: bold;
    color: #0d3b3cf2;
}

.profesionals .profesionals-card .doctors {
    height: 250px;
    width: 250px;
    border-radius: 250px;
    margin-bottom: 10px;
}


.profesionals .profesionals-card  .doc1 {
    background: url(../Assets/doc1.jpeg) center / cover no-repeat; 
}

.profesionals .profesionals-card  .doc2 {
    background: url(../Assets/doc2.jpeg) center / cover no-repeat;
}

.profesionals .profesionals-card  .doc3 {
    background: url(../Assets/doc3.jpeg) center / cover no-repeat;
}

.profesionals .profesionals-card  .doc4 {
    background: url(../Assets/doc4.jpeg) center / cover no-repeat;
}

 /* OYT FOOTER */

@media(min-width:640px){ 
.p{
    text-align: center;
}
.h1obs{
    font-size: 20px;
    text-align: center;
}
.ipresentacion{
    height: 20%;
    width: 20%;
    padding-right: 20px;
    border-radius: 150px
}
.doctorxs{
    display:flex;
}
.presentacion{
    display: inline;
}
.video{
    text-align: center;
}
.serviobs{
    padding-left:20px
}
}
.nav-menu a {
    display: inline;
}
 
    /* OYT MENU */
    .oyt-logo-clinica {
        width: 10%;
    }
    .oyt-menu {
        font-size: 17px;
        padding-right: 20px;
    }
    .oyt-menu-lista-principal li {
        padding: 10px;
    }
    .oyt-menu-lista-servicios {
        font-size: 15px;
    }
    
    /* OYT INTRODUCCION */
    #oyt-titulo {
        font-size: 34px; 
    }
    #oyt-imagen-principal {
        height: 300px;
    }
    #oyt-introducción {
        padding: 20px;
        font-size: 17px;
    }
    
    /* OYT SUBESPECIALIDADES */
    .oyt-subtitulos {
        font-size: 30px;
    }
    #oyt-subespecialidades-lista {
        font-size: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* OYT CUERPO MEDICO */
    #oyt-profesionales {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .oyt-profesionales-nombres {
        font-size: 17px;
    }
    .oyt-profesionales-especialidad {
        font-size: 14px;
    }
    .oyt-profesionales-fotos {
        width: 30%;
    }
    
    /* OYT TURNOS */
    #oyt-turnos {
        margin: 20px 160px 80px 160px;
    }
    #oyt-turnos-contenido {
        font-size: 17px;
    }
    .oyt-turnos-logos {
        width: 6%;
    }

    /* OB MAIN */
    .h1obs{
        font-size: 20px;
        text-align: center;
    }
    .ipresentacion{
        height: 20%;
        width: 20%;
        padding-right: 20px;
        border-radius: 150px
    }
    .doctorxs{
        display:flex;
    }
    .presentacion{
        display: inline;
    }
    .video{
        text-align: center;
    }
    .serviobs{
        padding-left:20px
    }
    /*index*/
    .about-us-card--first {
        margin-top: 25px;
    }

    .about-us-box-img, .about-us-card--reverse .about-us-description {
        margin-right: 15px;
    }    

    .about-us-card {
        flex-direction: row;
        padding: 0;
        margin-bottom: 70px;
    }

    .about-us-description {
        width: 75%;
        color: #1e1f1ff2;
        font-weight: 500;
    }

    .about-us-card--reverse {
        flex-direction: row-reverse;
   }

   /* SERVICES CONTAINER */

   .services-container {
        margin-bottom: 70px;
   }

   .services-container h2 {
        font-size: 2rem;
   }

   .services-container .services-card {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
   }

   .services-info {
       width: 40%;
   }

   .services-container div .services-info .service-icon {
        font-size: 2.5rem;
   }

   .services-container div .services-info .service-name {
        font-size: 1.5rem;
   }

   /* OUR PROFESSIONALS */

   .professionals-container h2 {
        margin: 50px; 
        text-decoration: overline;
   }

   .professionals-container .profesionals {
        display: flex;
        align-self: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
   }

   .professionals-container .profesionals .profesionals-card {
        width: 50%;
        padding: 20px;
   }


@media(min-width:1024px){
.p{
    text-align: center;
}
.h1obs{
    font-size: 30px;
}
.presentacion{
    display:inline-block

}
    /* OYT MENU */
    .oyt-logo-clinica {
        width: 7%;
    }
    .oyt-menu {
        font-size: 20px;
    }
    .oyt-menu-lista-principal li {
        padding: 15px;
    }
    .oyt-menu-lista-servicios {
        font-size: 18px;
    }
    
    /* OYT INTRODUCCION */
    #oyt-titulo {
        font-size: 40px;
    }
    
    /* OYT CUERPO MEDICO */
    .oyt-profesionales-nombres {
        font-size: 18px;
    }
    .oyt-profesionales-especialidad {
        font-size: 15px;
    }
    /* OYT TURNOS */
    #oyt-turnos {
        margin: 20px 250px 160px 250px;
        border: solid 20px rgb(29, 105, 124);
    }
    #oyt-turnos-imagen {
        width: 55%;
        padding: 0px 0px 30px 15px;
    }

    /* OB MAIN */
    .h1obs{
        font-size: 30px;
    }
    .presentacion{
        display:inline-block
    
}
#header {
    margin: auto;
    width: 1030px;
}
.menu li a {
    padding: 85px;
}
.menu li ul {
    min-width: 225px;
}
.doc{
    padding: 15px;
    width: 820px;
    height: 520px;
}
.card_perfil {
    width: 1020px;
}
.card img {
    width: 325px ;
    height: 240px;
}
.card_nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
}

@media (max-width:768px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top:70px;
        left:-100%;
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
    #header {
        margin: auto;
        width: 800px;
    }
    .menu li a {
        padding: 56px;
    }
    .menu li ul {
        min-width: 220px;
    }
    .doc{
        padding: 15px;
        width: 630px;
        height: 520px;
    }
    .card_perfil {
        width: 768px;
    }
    h2 {
        text-align: center;
        padding: 15px;
       font-size: xx-large;
    }
}
@media (max-width:900px) { 
    .logo-p {
        display: none;
    }
}